<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载资源文件-->
    <context:property-placeholder location="classpath:conf/application.properties"/>
    <!--springmvc与dubbo整合-->
    <!--springmvc的注解驱动-->
    <!--默认使用的json解析器：Jackson-->
    <!--ObjectMapper：readValue、writeValue-->
    <!--使用第三方的json解析器：-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--配置文件上传的解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--指定附件的编码格式-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--限定附件的大小-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--配置应用名称-->
    <dubbo:application name="pyg-web-shop"/>
    <!--配置注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.200.128:2181"/>
    <!--扫描对外暴露的接口地址-->
    <dubbo:annotation package="com.pyg.core.controller"/>
    <!--服务消费方默认校验提供方是否存在-->
    <!--连接的超时时间：单位毫秒-->
    <dubbo:consumer timeout="6000000"/>

</beans>